body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background: url("../img/space.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 30px;
}

.banner {
  height: 100vh;
}

/*header*/

.header {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 99;
}

.header-img {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

/* .header-img img {
  height: 200px;
} */

.header-nane {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
}

.menu-link {
  margin-left: 90px;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-link:after {
  content: "\\\\";
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #ffa500;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 40px;
}

.menu-link:last-child:after {
  display: none;
}

.menu-link:hover {
  color: #ffa500;
}

.header-name_lg {
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  text-transform: uppercase;
  display: block;
}
.btn-block {
  text-align: center;
}
.btn {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 20px;
  background: none;
  color: #ffffff;
  border-radius: 10px;
  display: inline-block;
  border: #ffffff solid 2px;
  font-weight: 700;
}

.btn:hover {
  color: #ffa500;
  border: #ffa500 solid 2px;
}

.text {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text__section {
  line-height: 28px;
  text-align: center;
  padding: 10px;
  width: calc(100% / 4);
  background: rgb(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 5px;
}


.icon{
  color: #ffa500;
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* .text__img {
  height: 50px;
  border-radius: 10px;
} */

.text-lg {
  color: #ffa500;
  font-size: 24px;
  font-weight: 600;
  margin-right: 20px;
}

/*about*/

.about {
  margin-top: 30px;
  line-height: 32px;
}

.about-content {
  margin-bottom: 30px;
  /* display: -ms-grid; */
  /* display: grid;
  -ms-grid-columns: 1fr 2vw 2fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2vw; */
}
/* 
.about__section {
  padding: 20px;
} */
.about__section:nth-child(2) {
  text-align: justify;
  align-self: center;
}
.about__section h6{
  text-align: center;
}

.about__section ul{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.about__section li {
  list-style-type: none;
  padding: 15px;
  background: rgb(255, 255, 255, 0.2);
  margin-bottom: 5px;
}
/* .about__section li:nth-child(4){
  padding-right: 0;
}
.about__section li:nth-child(1){
  padding-left: 0;
} */


.programm {
  margin-bottom: 50px;
}
.programm p {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.programm-items {
  list-style-type: none;
  text-align: center;
  padding: 30px;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 20px;
}
.programm .programm-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vw;
  line-height: 1.5;
}

/*form*/

.autorization-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 600px;
  text-align: center;
}

.autorization-form__input {
  border: solid 1px #ffffff;
  background: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
}

.submit {
  color: #ffa500;
  font-weight: 600;
  border: solid 1px #ffa500;
  text-align: center;
  text-transform: uppercase;
}

#my-video{
  width: 100%;
  border: solid 1px #ffffff;
}
/*footer*/

/* .footer {
   background: url("../img/bg__footer.jpg");
  background-size: cover; 
} */


.footer-block {
  padding-top: 20px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.footer-link {
  color: #ffffff;
}

.icons a {
  font-size: 32px;
  margin-left: 30px;
}

@media (max-width: 750px) {
  .header {
    top: 20px;
  }

  .header-img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header-name_lg {
    font-size: 56px;
    font-weight: 600;
    line-height: 60px;
  }

  .text-lg {
    font-size: 18px;
    margin-right: 10px;
  }
  .menu {
    display: none;
  }
  .about__section ul{
    flex-direction: column;
  }
}

@media (max-width: 870px) {
  .programm .programm-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text__section {
    width: 100%;
  }

  .about-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .autorization-form {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 300px;
  }
}

@media (max-width: 510px) {

  .header-name_lg {
    font-size: 24px;
    line-height: 42px;
  }
  .header-img {
    margin-bottom: 80px;
    margin-top: 100px;
  }

  .programm .programm-list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .programm-items:nth-child(8) {
    display: none;
  }
}

@media (max-height: 620px) {
  /* .header-img img {
    height: 150px;
  } */

  .header-name_lg {
    font-size: 24px;
    line-height: 42px;
  }

  .btn {
    padding: 10px;
    font-size: 14px;
  }
}

@media (max-height: 470px) {
  /* .header-img img {
    height: 80px;
  } */
  .btn-block {
    margin-top: 30px;
  }
}

@media (max-height: 405px) {
  .header {
    top: 20px;
  }
  /* .header-img img {
    display: none;
  } */
  .btn-block {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  /* .logo img {
    width: 80px;
    height: 80px;
  } */

  .header-img {
    margin-top: 15px;
  }
}
